#P1 {
font-size: 24px; 
color: blue; 
font-family: 'Courier New', Courier, monospace;
}
#P2 {
    font-size: 17px; 
    color: rgb(188, 197, 65); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }